Our Groups Goal!

Label + Data Integrity/ISRC

-number of streams by label

-country, year, registrant, random code

-use artist, title, songwriter to identify duplicate ISRC

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

Might as well just upload those because that what you do in python.
Our team is  data integrity issues (isrc) / label.

In [2]:
%matplotlib inline

In [3]:
music_df = pd.read_csv("../data/NSS-Sample.csv")
music_df = music_df.rename(columns={"If ":"ISRC"})
music_df.head()

,ISRC,Country Code,Registrant Code,Year of Reference,Usage Period,Streaming Platform (DSP),Streams,Recording Artist,Recording Label,Recording Title,Release Title,Recording Duration (Seconds),"Songwriter's Listed (1 = ""Yes"", 0 = ""No"")"
0,USUG12101043,US,UG1,21.0,NaN,AudioMack,"10,175",Future,NaN,FUTURE FT DEJ LOAF HEY THERE PROD BY DDS,#unknown#,181,0
1,USRC12100543,US,RC1,21.0,NaN,SoundCloud,"8,597",LUCKY3RD,LUCKY3RD,Keep It Cool LUCKY3RD,Keep It Cool LUCKY3RD,133,0
2,USSM12102263,US,SM1,21.0,NaN,SoundCloud,"261,280",LUCKY3RD,LUCKY3RD,Life Goes On LUCKY3RD,Life Goes On LUCKY3RD,171,0
3,USLD91731547,US,LD9,17.0,2/1/2021,Trebel,5,Bachata & Merengue Mix,Orchard,No dudes de mi- Merengue & Bachata Mix,Mega Mix 2010,1250,0
4,USAT22007048,US,AT2,20.0,NaN,AudioMack,"62,105",Foolio,NaN,WHEN I SEE YOU REMIX,#unknown#,187,0

In [4]:
music_df.isnull().sum()

ISRC                                         1760
Country Code                                 1697
Registrant Code                              1697
Year of Reference                            1761
Usage Period                                 8102
Streaming Platform (DSP)                     3999
Streams                                         0
Recording Artist                                0
Recording Label                              1008
Recording Title                                 0
Release Title                                  69
Recording Duration (Seconds)                    0
Songwriter's Listed (1 = "Yes", 0 = "No")       0
dtype: int64

In [5]:
music_df["ISRC"].fillna("", inplace = True)
music_df["Country Code"].fillna("", inplace = True)
music_df["Registrant Code"].fillna("", inplace = True)
music_df["Year of Reference"].fillna("", inplace = True)
music_df["Usage Period"].fillna("", inplace = True)
music_df["Streaming Platform (DSP)"].fillna("", inplace = True)
music_df["Streams"].fillna("", inplace = True)
music_df["Recording Artist"].fillna("", inplace = True)
music_df["Recording Label"].fillna("", inplace = True)
music_df["Recording Title"].fillna("", inplace = True)
music_df["Release Title"].fillna("", inplace = True)
music_df["Recording Duration (Seconds)"].fillna("", inplace = True)

In [6]:
music_df.isnull().sum()

ISRC                                         0
Country Code                                 0
Registrant Code                              0
Year of Reference                            0
Usage Period                                 0
Streaming Platform (DSP)                     0
Streams                                      0
Recording Artist                             0
Recording Label                              0
Recording Title                              0
Release Title                                0
Recording Duration (Seconds)                 0
Songwriter's Listed (1 = "Yes", 0 = "No")    0
dtype: int64

In [7]:
music_df=music_df.set_axis(["ISRC","Country","Registrant","Year","Month_Streamed",
                            "Platform","Streams","Artist","Label","Recording_Title","Release_Title",
                            "Duration_Sec","Songwriter_Listed"], axis=1)

Following code is getting rid of commas in the streams column to make it an integer

In [8]:
music_df['Streams'] = music_df['Streams'].astype(str)
music_df['Streams']=music_df['Streams'].str.replace(',','')
music_df['Streams'] = music_df['Streams'].astype(int)

So we're having an extrordinarily difficult time turning the years column into an integer. Why is this an impossible feat? Why does it refuse to turn into a string even though there are no nulls? Why does it refuse to turn into a float when there are no nulls???

In [ ]:
indie = music_df[music_df['Artist'] == music_df['Label']]

In [ ]:
music_df.info()

In [ ]:
music_df.describe()

In [ ]:
music_df.info()

In [ ]:
print(music_df.nlargest(n=20, columns=['Streams']))

In [ ]:
platform_sums = music_df.groupby('Platform')['Streams'].sum()
platform_sums.columns = ['Platform','Streams']
plt.plot(platform_sums)
#goodness this is hideous lol

Using the following code isn't working because we're trying to make a grid with a series.

grid = sns.FacetGrid(music_df, hue = "Platform")
grid.map(sns.barplot, music_df['Label'], music_df.groupby('Platform')['Streams'].sum())
plt.xlim(reversed(plt.xlim()))
grid.add_legend()

In [ ]:
print(platform_sums)

dataframe1 = pd.DataFrame(data={"column1": [1, 2, 3, 4, 5]})
dataframe2 = pd.DataFrame(data={"column1": [1, 2]})

common = dataframe1.merge(dataframe2, on=["column1"])
result = dataframe1[~dataframe1.column1.isin(common.column1)]

In [ ]:
platform_sums.info()

Having a really tough time just trying to make a bar chart with the info we have here.